.d-flex.justify-content-end.align-items-center.rythmx-2.mb-2
  %button.btn.btn-link.btn-link-secondary.tb-circle-btn{ data: { toggle: 'modal', target: '#share-modal' } }
    %i.fas.fa-share
    .sr-only Save to a collection

.card.border.shadow-sm.mb-5
  .card-body
    .row
      .col-8.offset-2
        .text-center
          %h1.font-weight-bold= title @collection.name
          - if @collection.description.present?
            = simple_format(description @collection.description)
          .small by #{@collection.user.username}
      .col-2.text-right
        - if policy(@collection).edit?
          .dropleft
            %button.btn.btn-link.pr-0.pt-0{ id: 'dropdown',
              'aria-expanded' => 'false',
              'aria-haspopup' => 'true',
              'data-toggle' => 'dropdown',
              type: 'button'}
              %i.fas.fa-ellipsis-v.text-primary
            .dropdown-menu.shadow-sm{ 'aria-labelledby' => 'dropdown' }
              = link_to 'Edit', edit_collection_path(@collection.id), class: 'dropdown-item'
              .dropdown-divider
              = link_to 'Delete',
                collection_path(@collection.id),
                class: 'dropdown-item text-danger',
                method: :delete,
                data: { confirm: 'Are you sure you want to delete this collection?' }

- if @collection.recipes.any?
  .row
    = render partial: 'recipes/recipe',
      collection: @collection.recipes.includes(:user, :cuisine, image_attachment: :blob).order(:name)
- else
  .text-center.my-5
    %h3 This collection is empty 😢

- content_for :modals do
  .modal#share-modal{ 'aria-hidden': 'true',
    role: 'dialog',
    tabindex: '-1' }
    .modal-dialog{ role: 'document' }
      .modal-content
        .modal-header
          %h5.h1.modal-title Share this collection
          %button.close{ 'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button' }
            %i.fas.fa-times-circle.fa-sm{ 'aria-hidden': 'true' }


        .modal-body
          .d-flex{ data: { controller: 'clipboard' } }
            %input.form-control{ value: user_collection_url(@collection.user.username, @collection), data: { target: 'clipboard.source' } }
            = button_tag 'Copy', class: 'btn btn-secondary ml-2 d-none',
              data: { target: 'clipboard.button', action: 'clipboard#copy' }

        .modal-footer.d-flex.justify-content-end
          = button_tag 'Done',
            type: 'button',
            class: 'btn btn-primary btn-lg',
            data: { dismiss: 'modal' }
