= simple_form_for recipe, html: { class: 'optional-flag js-confirm-exit' } do |f|
  = f.error_notification message: 'Please review the problems below'

  .card.mb-4.shadow-sm
    .card-body
      %legend Details

      = f.input :name
      = f.input :length, collection: Recipe::LENGTHS
      = f.input :course, collection: Recipe::COURSES
      = f.association :cuisine, collection: Cuisine.all.order(:name)
      = f.input :servings

  .card.mb-4.shadow-sm
    .card-body
      %legend.mb-3
        Bookmark
        %span.text-muted.small - optional
      %p Found a recipe that you love on another website? Just paste the link here and keep all your favourite recipes in one place. Smart!

      %div{ data: { controller: 'findImages form', 'findImages-path': find_images_path } }
        = f.input :link,
          placeholder: 'e.g. https://www.bbcgoodfood.com/recipes/cottage-pie',
          label_html: { class: 'sr-only' },
          input_html: { data: { target: 'findImages.input',
              action: 'input->form#disableSubmitIfEmpty input->findImages#clearError' } }

        = button_tag 'Grab image',
          type: 'button',
          class: 'btn btn-primary btn-sm',
          data: { action: 'findImages#get', target: 'form.submit' },
          disabled: f.object.link.blank?
        %span.small.text-danger{ data: { target: 'findImages.error' } }

  .card.mb-4.shadow-sm
    .card-body
      %legend.mb-3
        Diet
      %div{ data: { controller: 'radioHierarchy' } }
        = f.input :vegetarian,
          as: :boolean,
          input_html: { data: { hierarchy: 0, target: 'radioHierarchy.radio', action: 'input->radioHierarchy#set' } },
          label_html: { class: 'tb-form-check--vegan' }

        = f.input :vegan,
          as: :boolean,
          input_html: { data: { hierarchy: 1, target: 'radioHierarchy.radio', action: 'input->radioHierarchy#set' } },
          label_html: { class: 'tb-form-check--vegan' }

  .card.mb-4.shadow-sm
    .card-body
      %legend.mb-3
        Ingredients
        %span.text-muted.small - optional
      #ingredients.js-sortable-fields
        = f.simple_fields_for :ingredients do |ingredient|
          - if ingredient.object.heading?
            = render 'section_fields', f: ingredient
          - else
            = render 'ingredient_fields', f: ingredient
        .ingredients.d-flex.justify-content-between
          = link_to_add_association 'add section', f, :ingredients, partial: 'section_fields'
          = link_to_add_association 'add ingredient', f, :ingredients

  .card.mb-4.shadow-sm
    .card-body
      %legend.mb-3
        Steps
        %span.text-muted.small - optional
      #steps.js-sortable-fields
        = f.simple_fields_for :steps do |step|
          = render 'step_fields', f: step
        .steps.d-flex.justify-content-end
          = link_to_add_association 'add step', f, :steps

  .form-actions
    - unless request.url == request.referer
      = link_to 'Cancel', :back, class: 'btn btn-link btn-lg text-dark'
    = f.submit 'Save', class: 'btn btn-primary btn-lg ml-auto'
