= simple_form_for recipe, html: { class: 'optional-flag js-confirm-exit' }, remote: true, data: { controller: 'form' } do |f|
  = f.error_notification message: 'Please review the problems below'

  .card.mb-4.shadow-sm
    .card-body
      %legend Details

      = f.input :name, required: true
      = f.input :length, required: true, collection: Recipe::LENGTHS
      = f.input :course, required: true, collection: Recipe::COURSES
      = f.association :cuisine, collection: Cuisine.all.order(:name)
      = f.input :servings

  .card.mb-4.shadow-sm
    .card-body
      %legend.mb-3
        Bookmark
        %span.text-muted.small - optional
      %p Found a recipe that you love on another website? Just paste the link here and keep all your favourite recipes in one place. Smart!

      #find-images-controller{ data: { controller: 'find-images auto-disable', 'find-images-path': find_images_path } }
        = f.hidden_field :grab_image_url, data: { target: 'find-images.imageUrlInput' }

        = f.input :link,
          placeholder: 'e.g. https://www.bbcgoodfood.com/recipes/cottage-pie',
          label_html: { class: 'sr-only' },
          input_html: { data: { target: 'find-images.sourceInput',
              action: 'input->auto-disable#toggle input->find-images#clearError' } }

        = button_tag 'Grab image',
          type: 'button',
          class: 'btn btn-primary btn-sm',
          disabled: f.object.link.blank?,
          data: { action: 'find-images#run', target: 'find-images.grabButton auto-disable.button' }
        %span.small.text-danger{ data: { target: 'find-images.errorSpan' } }

        .d-flex.align-items-center.justify-content-between
          .tb-hide-siblings-when-empty{ data: { target: 'find-images.imageReceiver' } }
          = button_tag type: 'button',
            class: 'btn btn-link text-dark',
            data: { action: 'find-images#clearImage' } do
            %i.fas.fa-trash-alt
            .sr-only Clear image selection

        - if f.object.errors[:image].any?
          = f.full_error :image, class: 'mt-3 text-danger'

  .card.mb-4.shadow-sm
    .card-body
      %legend.mb-3
        Diet
      %div{ data: { controller: 'radioHierarchy' } }
        = f.input :vegetarian,
          as: :boolean,
          input_html: { data: { hierarchy: 0, target: 'radioHierarchy.radio', action: 'input->radioHierarchy#set' } },
          label_html: { class: 'tb-form-check--vegan' }

        = f.input :vegan,
          as: :boolean,
          input_html: { data: { hierarchy: 1, target: 'radioHierarchy.radio', action: 'input->radioHierarchy#set' } },
          label_html: { class: 'tb-form-check--vegan' }

  .card.mb-4.shadow-sm
    .card-body
      %legend.mb-3
        Ingredients
        %span.text-muted.small - optional
      #ingredients.js-sortable-fields
        = f.simple_fields_for :ingredients do |ingredient|
          - if ingredient.object.heading?
            = render 'section_fields', f: ingredient
          - else
            = render 'ingredient_fields', f: ingredient
        .ingredients.d-flex.justify-content-between
          = link_to_add_association 'Add section', f, :ingredients, partial: 'section_fields'
          = link_to_add_association 'Add ingredient', f, :ingredients

  .card.mb-4.shadow-sm
    .card-body
      %legend.mb-3
        Steps
        %span.text-muted.small - optional
      #steps.js-sortable-fields
        = f.simple_fields_for :steps do |step|
          = render 'step_fields', f: step
        .steps.d-flex.justify-content-end
          = link_to_add_association 'Add step', f, :steps

  .form-actions
    = f.submit class: 'btn btn-primary btn-lg ml-auto shadow-sm'
