= simple_form_for recipe, html: { class: 'optional-flag' } do |f|
  .card.mb-4.shadow-sm
    .card-body
      %legend Details

      = f.input :name
      = f.association :cuisine, collection: Cuisine.all
      = f.input :length, collection: Recipe::LENGTHS
      = f.input :servings

  .card.mb-4.shadow-sm
    .card-body
      %legend Link
      = f.input :link

  .card.mb-4.shadow-sm
    .card-body
      %legend.mb-3 Ingredients
      #ingredients
        = f.simple_fields_for :ingredients do |ingredient|
          = render 'ingredient_fields', f: ingredient
        .ingredients
          = link_to_add_association 'add ingredient', f, :ingredients

  .card.mb-4.shadow-sm
    .card-body
      %legend.mb-3 Steps
      #steps
        = f.simple_fields_for :steps do |step|
          = render 'step_fields', f: step
        .steps
          = link_to_add_association 'add step', f, :steps

  .form-actions
    = link_to 'Cancel', :back, class: 'btn btn-link'
    = f.submit 'Save', class: 'btn btn-primary'
