= simple_form_for recipe, html: { class: 'optional-flag js-confirm-exit' } do |f|
  = f.error_notification message: 'Please review the problems below'

  .card.mb-4.shadow-sm
    .card-body
      %legend Details

      = f.input :name
      = f.input :length, collection: Recipe::LENGTHS
      = f.input :course, collection: Recipe::COURSES
      = f.association :cuisine, collection: Cuisine.all.order(:name)
      = f.input :servings

  .card.mb-4.shadow-sm
    .card-body
      %legend.mb-3
        Bookmark
        %span.text-muted.small - optional
      %p Found a recipe that you love on another website? Just paste the link here and keep all your favourite recipes in one place. Smart!
      = f.input :link, label_html: { class: 'sr-only' }, placeholder: 'e.g. https://www.bbcgoodfood.com/recipes/cottage-pie'

  .card.mb-4.shadow-sm
    .card-body
      %legend.mb-3
        Ingredients
        %span.text-muted.small - optional
      #ingredients
        = f.simple_fields_for :ingredients do |ingredient|
          = render 'ingredient_fields', f: ingredient
        .ingredients
          = link_to_add_association 'add ingredient', f, :ingredients

  .card.mb-4.shadow-sm
    .card-body
      %legend.mb-3
        Steps
        %span.text-muted.small - optional
      #steps
        = f.simple_fields_for :steps do |step|
          = render 'step_fields', f: step
        .steps
          = link_to_add_association 'add step', f, :steps

  .form-actions
    - unless request.url == request.referer
      = link_to 'Cancel', :back, class: 'btn btn-link text-dark'
    = f.submit 'Save', class: 'btn btn-primary btn-lg ml-auto'
