- unless ingredients.empty? && steps.empty?
  .mt-4
    .d-flex.justify-content-center
      %ul.nav.nav-tabs.tb-instructions-tabs#intructions-tabs{ role: 'tablist'}
        %li.nav-item
          %a.nav-link#ingredients-tab{ data: { toggle: "tab" },
            class: "#{'active' unless ingredients.empty?}",
            href: '#ingredients',
            role: 'tab',
            aria: { controls: 'ingredients', selected: 'true' } } Ingredients
        %li.nav-item
          %a.nav-link#steps-tab{ data: { toggle: 'tab' },
            class: "#{'active' if ingredients.empty?}",
            href: '#steps',
            role: 'tab',
            aria: { controls: 'steps', selected: 'true' } } Steps

    .tab-content.tb-recipe-instructions.mt-3
      .tab-pane#ingredients{ role: 'tabpanel',
        class: "#{'active' unless ingredients.empty?}",
        aria: { labelledby: 'ingredients-tab' } }
        - if ingredients.empty?
          .text-center.py-3
            %i.text-muted No ingredients
        - else
          %ul
            - ingredients.each do |ingredient|
              %li= ingredient.name

      .tab-pane#steps{ role: 'tabpanel',
        class: "#{'active' if ingredients.empty?}",
        aria: { labelledby: 'steps-tab' } }
        - if steps.empty?
          .text-center.py-3
            %i.text-muted No steps
        - else
          %ol
            - steps.each.with_index(1) do |step, i|
              %li
                %span.h4.mb-0.font-weight-bold.mr-1 #{i}.
                %span= step.description
