:ruby
  image_url = if recipe.image.attached?
    url_for recipe.image
  else
    asset_pack_path 'media/images/placeholder-recipe.png'
  end

.col-md-6.col-lg-4.d-flex
  .card.recipe-card.shadow-sm.mb-4.flex-fill
    = link_to recipe, class: 'card-img-top embed-responsive embed-responsive-21by9' do
      .embed-responsive-item.recipe-image{ style: "background-image:url(#{image_url});" }
      .sr-only View recipe
    = link_to recipe, class: 'card-body' do
      %h2.mb-0= recipe.name
      = render 'information', recipe: recipe

    - if recipe.link.present?
      = link_to recipe.link_uri.to_s, target: '_blank', rel: 'noopener noreferrer', class: 'card-footer' do
        %i.fas.fa-external-link-alt.mr-1
        %span= recipe.link_host

%button.btn.btn-secondary hello
