:ruby
  url = @collection ?
    user_collection_recipe_path(@collection.user.username, @collection, recipe) :
    recipe_path(recipe)

.col-md-6.col-lg-4.d-flex
  .card.recipe-card.shadow-sm.mb-4.flex-fill
    = link_to url, class: 'card-img-top embed-responsive embed-responsive-21by9' do
      %img.embed-responsive-item.tb-recipe-image.lazy{ recipe_image_attributes(recipe)  }
      .sr-only View recipe
    = link_to url, class: 'card-body p-3 position-relative' do
      - if user_signed_in?
        = render 'recipes/like_button', recipe: recipe
      %h2.pr-5= recipe.name
      = render 'recipes/information', recipe: recipe

      - unless recipe.user == current_user
        .text-right.small.text-muted
          %span by #{recipe.user.username}
