.card.recipe-card
  .card-body
    .dropleft.float-right
      %button.btn.btn-link.pr-0{ id: "recipe-#{recipe.id}-dropdown",
        'aria-expanded' => 'false',
        'aria-haspopup' => 'true',
        'data-toggle' => 'dropdown',
        type: 'button'}
        %i.fas.fa-ellipsis-v.text-muted
      .dropdown-menu{ 'aria-labelledby' => 'recipe-#{recipe.id}-dropdown' }
        = link_to 'Edit', [:edit, recipe], class: 'dropdown-item'
        .dropdown-divider
        = link_to 'Delete',
          recipe,
          class: 'dropdown-item text-danger',
          method: :delete,
          data: { confirm: 'Are you sure you want to delete this recipe?' }

    %h2= recipe.name

    - if [recipe.cuisine_name, recipe.length, recipe.servings].any?
      .d-flex.flex-wrap.small.text-nowrap.text-muted.mb-n1
        - if recipe.cuisine_name
          .d-flex.align-items-center.mr-2.mb-1
            %i.fas.fa-globe-europe.mr-1
            %div= recipe.cuisine_name.upcase
        - if recipe.length
          .d-flex.align-items-center.mr-2.mb-1
            %i.fas.fa-clock.mr-1
            %div= recipe.length.upcase
        - if recipe.servings
          .d-flex.align-items-center.mr-2.mb-1
            %i.fas.fa-utensils.mr-1
            %div SERVES #{recipe.servings}

  - if recipe.link
    = link_to recipe.link_uri.to_s, target: '_blank', class: 'card-footer' do
      %i.fas.fa-link.mr-1
      %span= recipe.link_host
