.card.recipe-card.shadow-sm
  = link_to recipe, class: 'card-body' do
    %h2.mb-0= recipe.name
    = render 'information', recipe: recipe

  - if recipe.link.present?
    = link_to recipe.link_uri.to_s, target: '_blank', class: 'card-footer' do
      %i.fas.fa-external-link-alt.mr-1
      %span= recipe.link_host
