.card.mb-4.shadow-sm
  .card-body
    = simple_form_for @search,
      url: recipes_path,
      method: :get,
      remote: true,
      html: { class: 'form-inline-' } do |f|

      .d-flex
        = f.input :q,
          placeholder: 'Search',
          label_html: { class: 'sr-only' },
          wrapper_html: { class: 'flex-fill mr-2 mb-0' },
          input_html: { class: 'flex-fill' }

        = f.button :button,
          type: :submit,
          class: 'btn btn-primary flex-center search-button',
          data: { 'disable-with': "<i class='fa fa-spinner fa-spin fa-fw'></i>".html_safe } do
          %i.fas.fa-search.fa-fw

      = link_to 'More filters',
        '#filterCollpase',
        'aria-controls': 'filterCollpase',
        'aria-expanded': 'false',
        'data-toggle': 'collapse',
        role: 'button',
        class: 'mt-1 d-inline-block chevron-toggle'

      #filterCollpase.collapse
        .d-flex.rythmx-3.mt-3
          = f.input :length, as: :check_boxes, collection: Recipe::LENGTHS
          = f.input :course, as: :check_boxes, collection: Recipe::COURSES
          .flex-fill
            = f.button :button,
              formaction: im_feeling_lucky_recipes_path,
              type: :submit,
              class: 'btn btn-primary flex-center search-button ml-auto',
              data: { 'disable-with': "<i class='fa fa-spinner fa-spin fa-fw'></i>".html_safe } do
              %i.fas.fa-dice.fa-fw

.js-updateable-recipes.rythmy-4
  = render(@recipes) || render('no_results')
