- title 'All recipes'
- description 'Search for a recipe'

.row
  .col-lg-4
    = simple_form_for @search,
      url: recipes_path,
      method: :get,
      remote: true,
      html: { class: 'form-inline-' } do |f|

      .d-flex
        = f.input :q,
          placeholder: 'Search',
          label_html: { class: 'sr-only' },
          wrapper_html: { class: 'flex-fill mr-2 mb-0' },
          input_html: { class: 'flex-fill' }

        = f.button :button,
          type: :submit,
          class: 'btn btn-primary flex-center',
          data: { 'disable-with': "<i class='fa fa-spinner fa-spin fa-fw'></i>".html_safe } do
          %i.fas.fa-search.fa-fw
          .sr-only Search


      = link_to 'More options',
        '#filterCollapse',
        'aria-controls': 'filterCollapse',
        'aria-expanded': 'false',
        'data-toggle': 'collapse',
        role: 'button',
        class: 'mt-1 d-inline-block chevron-toggle mb-4'

      #filterCollapse.collapse.js-turbolinks-collapse-before-cache
        .card.border-0.mb-4
          .card-body.pb-0
            .d-flex.rythmx-3
              = f.input :length, as: :check_boxes, collection: Recipe::LENGTHS, wrapper_html: { class: 'mb-0' }
              = f.input :course, as: :check_boxes, collection: Recipe::COURSES, wrapper_html: { class: 'mb-0' }
              .text-center.flex-fill.d-flex.flex-column.border-left.pt-2.rythmy-2
                %fieldset
                  = f.check_box :liked_only, class: 'recipe-filter--liked'
                  = f.label :liked_only, 'Favourites'
                %fieldset
                  = f.check_box :exclude_friends, class: 'recipe-filter--friends', disabled: true
                  = f.label :exclude_friends, 'My recipes', class: 'text-muted'

            .d-flex.justify-content-around.mt-3.border-top
              = f.submit 'RANDOM',
                formaction: im_feeling_lucky_recipes_path,
                class: 'btn btn-link no-underline py-3',
                data: { disable: true }

              = f.submit 'APPLY',
                class: 'btn btn-link no-underline py-3',
                data: { disable: true }

.js-updateable-recipes.row
  = render(@recipes) || render('no_results')

= render 'load_more_link'
