.row.recipe-show
  .col-lg-6.offset-lg-3
    .d-flex.justify-content-end.align-items-center
      = render 'recipes/like_button', recipe: @recipe, icon_class: 'fa-2x', btn_class: 'px-2'
      %button.btn.btn-link.btn-link-secondary.px-2{ data: { toggle: 'modal', target: '#collections-modal' } }
        %i.fas.fa-plus.fa-2x
        .sr-only Save to a collection
      - if edit?(@recipe)
        = form_with model: @recipe, url: recipe_image_path(@recipe) do |f|
          = f.file_field :image, accept: 'image/*', class: 'd-none js-auto-submit-on-change', direct_upload: true
          = f.label :image, class: 'btn btn-link btn-link-secondary mb-0 px-2' do
            %i.fas.fa-camera.fa-2x
            .sr-only Upload image

    .card.border.shadow-sm.mb-4.js-recipe-card
      - if @recipe.image.attached?
        .card-img-top.embed-responsive.embed-responsive-21by9
          %img.embed-responsive-item.tb-recipe-image.lazy{ alt: @recipe.name,
            src: lowres_image_variant_url(@recipe.image),
            data: { src: large_image_variant_url(@recipe.image) } }
      .card-body
        .d-flex.justify-content-between
          %h1= title @recipe.name
          = render 'dropdown', recipe: @recipe

        = render 'information', recipe: @recipe

        - if @recipe.link.present?
          .mt-3
            = link_to @recipe.link_uri.to_s, target: '_blank', rel: 'noopener noreferrer' do
              %i.fas.fa-external-link-alt.mr-1
              %span= @recipe.link_host


        = render 'instructions',
          ingredients: @recipe.ingredients.load,
          steps: @recipe.steps.load

        = render 'notes', recipe: @recipe

        - unless @recipe.user == current_user
          .text-right.small.text-muted.mt-4
            %span by #{@recipe.user.username}

    = render 'comments', comments: @recipe.comments.order(created_at: :desc).includes(:user).limit(100) #TODO pagination

.modal#collections-modal{ 'aria-hidden': 'true',
  role: 'dialog',
  tabindex: '-1',
  data: { controller: 'collections' } }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %h5.h1.modal-title Save to a collection
        %button.close{ 'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button' }
          %i.fas.fa-times-circle.fa-sm{ 'aria-hidden': 'true' }

      - collections = current_user.collections.order(created_at: :desc).load
      %div{ style: "#{'display:none' if collections.empty?}", data: { target: 'collections.selectCollection' } }
        .modal-body
          %div{ data: { target: 'collections.collectionList' } }
            = render partial: 'collections/modal_item',
              collection: collections,
              as: :collection,
              locals: { recipe: @recipe }

          = button_tag 'Create another collection',
            class: 'btn btn-outline-primary btn-lg w-100 mt-5',
            data: { action: 'collections#new' }

        .modal-footer.d-flex.justify-content-end
          = button_tag 'Done',
            type: 'button',
            class: 'btn btn-primary btn-lg',
            data: { dismiss: 'modal' }

      %div{ style: "#{'display:none' unless collections.empty?}", data: { target: 'collections.newCollection' } }
        = render 'collections/form', collection: Collection.new, recipe: @recipe
