.d-flex.justify-content-between
  %h1= @recipe.name
  = render 'dropdown'

.mb-4
  = render 'information', recipe: @recipe

= render 'instructions',
  ingredients: @recipe.ingredients.load,
  steps: @recipe.steps.load

= render 'notes'

= render 'comments'
