.row.recipe-show
  .col-lg-6.offset-lg-3
    .d-flex.justify-content-end.align-items-center.mb-2
      = render 'like_button', recipe: @recipe
      - if edit?(@recipe)
        = form_with model: @recipe, url: recipe_image_path(@recipe), class: 'ml-2' do |f|
          = f.file_field :image, accept: 'image/*', class: 'd-none js-auto-submit-on-change', direct_upload: true
          = f.label :image, class: 'btn btn-link btn-link-secondary p-0 mb-0' do
            %i.fas.fa-camera.fa-2x.px-2
            .sr-only Upload image

    .card.border.shadow-sm.mb-4.js-recipe-card
      - if @recipe.image.attached?
        .card-img-top.embed-responsive.embed-responsive-21by9
          %img.embed-responsive-item.tb-recipe-image.lazy{ alt: @recipe.name,
            src: lowres_image_variant_url(@recipe.image),
            data: { src: large_image_variant_url(@recipe.image) } }
      .card-body
        .d-flex.justify-content-between
          %h1= title @recipe.name
          = render 'dropdown', recipe: @recipe

        = render 'information', recipe: @recipe

        - if @recipe.link.present?
          .mt-3
            = link_to @recipe.link_uri.to_s, target: '_blank', rel: 'noopener noreferrer' do
              %i.fas.fa-external-link-alt.mr-1
              %span= @recipe.link_host


        = render 'instructions',
          ingredients: @recipe.ingredients.load,
          steps: @recipe.steps.load

        = render 'notes', recipe: @recipe

        - unless @recipe.user == current_user
          .text-right.small.text-muted.mt-4
            %span by #{@recipe.user.username}

    = render 'comments', comments: @recipe.comments.order(created_at: :desc).includes(:user).limit(100) #TODO pagination
