.row.recipe-show
  .col-lg-6.offset-lg-3
    .d-flex.justify-content-end.align-items-center.mb-2
      = render 'like_button', recipe: @recipe
      - if edit?(@recipe)
        = form_with model: @recipe, class: 'ml-2' do |f|
          = f.file_field :image, onchange: 'form.submit()', accept: 'image/*', class: 'd-none'
          = f.label :image, class: 'btn btn-link btn-link-secondary p-0 mb-0' do
            %i.fas.fa-camera.fa-2x.px-2
            .sr-only Upload image

    .card.shadow-sm.mb-4
      - if @recipe.image.attached?
        .card-img-top.embed-responsive.embed-responsive-21by9
          .embed-responsive-item.recipe-image{ style: "background-image:url(#{rails_representation_url(@recipe.image.variant(resize_to_fill: [1200, 514]))});" }
      .card-body
        .d-flex.justify-content-between
          %h1.mb-0= title @recipe.name
          - if @recipe.link.present?
            = link_to @recipe.link_uri.to_s, target: '_blank', rel: 'noopener noreferrer', class: 'btn btn-link mr-auto' do
              %i.fas.fa-external-link-alt.fa-lg.ml-2
              .sr-only External link to recipe

          = render 'dropdown', recipe: @recipe

        .mb-4
          = render 'information', recipe: @recipe

        = render 'instructions',
          ingredients: @recipe.ingredients.load,
          steps: @recipe.steps.load

        = render 'notes', recipe: @recipe

        - unless @recipe.user == current_user
          .text-right.small.text-muted
            %span by #{@recipe.user.username}

    .card.shadow-sm
      .card-body
        = render 'comments'
