.row.recipe-show
  .col-lg-6.offset-lg-3
    = render 'recipes/top_actions', recipe: @recipe
    .card.border.shadow-sm.mb-4.js-recipe-card
      - if @recipe.image.attached?
        .card-img-top.embed-responsive.embed-responsive-21by9
          %img.embed-responsive-item.tb-recipe-image.lazy{ alt: @recipe.name,
            src: lowres_image_variant_url(@recipe.image),
            data: { src: large_image_variant_url(@recipe.image) } }
      .card-body
        .d-flex.justify-content-between
          %h1= title @recipe.name
          = render 'recipes/dropdown', recipe: @recipe
        = render 'recipes/information', recipe: @recipe
        - if @recipe.link.present?
          .mt-3
            = link_to @recipe.link_uri.to_s, target: '_blank', rel: 'noopener noreferrer' do
              %i.fas.fa-external-link-alt.mr-1
              %span= @recipe.link_host
        = render 'recipes/instructions',
          ingredients: @recipe.ingredients.load,
          steps: @recipe.steps.load
        = render 'notes', recipe: @recipe
        - unless @recipe.user == current_user
          .text-right.small.text-muted.mt-4
            %span by #{@recipe.user.username}
    -# TODO pagination    
    = render 'comments', comments: @recipe.comments.order(created_at: :desc).includes(:user).limit(100)
= render 'recipes/collection_modal', recipe: @recipe
