:ruby
  title "Settings"

= simple_form_for current_user do |f|
  = f.error_notification message: "Please review the problems below"

  .card.mb-4.shadow-sm
    .card-body
      = f.input :email, autocomplete: "email"

      = f.input :password,
        wrapper: :password,
        label: "New password",
        hint: "Leave blank if you don't want to change it",
        wrapper_html: { data: { controller: "password" } },
        input_html: { autocomplete: "new-password", data: { target: "password.input" } }

      = f.input :current_password,
        wrapper: :password,
        hint: "We need your current password to confirm your changes",
        wrapper_html: { data: { controller: "password" } },
        input_html: { autocomplete: "current-password", data: { target: "password.input" } }

  .form-actions
    = f.submit "Save", class: "btn btn-primary btn-lg ml-auto shadow-sm"
