= simple_form_for current_user do |f|
  = f.error_notification message: 'Please review the problems below'
  .card.mb-4.shadow-sm
    .card-body
      %legend= title 'Settings'

      = f.input :username
      = f.input :email, autocomplete: 'email'

  .card.mb-4.shadow-sm
    .card-body
      %legend Change password
      = f.input :password, autocomplete: 'new-password', label: 'New password'
      = f.input :password_confirmation, autocomplete: 'new-password'

  .card.mb-4.shadow-sm
    .card-body
      %legend Current password
      = f.input :current_password, autocomplete: "current-password", hint: 'We need your current password to confirm your changes', label_html: { class: 'sr-only' }

  .form-actions
    = link_to 'Cancel', :back, class: 'btn btn-link text-dark'
    = f.submit 'Save', class: 'btn btn-primary'
