.list-group-item
  .d-flex.align-items-center
    = image_tag friendship.friend.image.attached? ? medium_profile_image_url(friendship.friend) : asset_pack_path('media/images/user-circle.svg'),
      class: 'tb-profile-image tb-profile-image--sm mr-3'
    %div
      %h3= friendship.name.truncate(20)
      - if friendship.accepted?
        = link_to pluralize(friendship.friend.recipes.count, 'recipe'), user_recipes_path(friendship.friend.username)
      - else
        .font-italic.text-muted Pending
    .dropleft.mb-auto.ml-auto
      %button.btn.btn-link.pr-0.pt-0{ id: 'dropdown',
        'aria-expanded' => 'false',
        'aria-haspopup' => 'true',
        'data-toggle' => 'dropdown',
        type: 'button'}
        %i.fas.fa-ellipsis-v.text-primary
      .dropdown-menu.shadow-sm{ 'aria-labelledby' => 'dropdown' }
        = link_to 'Unfriend',
          friendship,
          class: 'dropdown-item text-danger',
          method: :delete,
          data: { confirm: "Are you sure you want to unfriend #{friendship.name}?" }
