
= simple_form_for @invitation_form, url: invitations_path do |f|
  = f.error_notification message: 'Please review the problems below'

  .card.mb-4.shadow-sm
    .card-body
      %h1=title 'Invite a friend'
      %p Your friend will receive an email, and once they accept you'll be able to view each other's recipes. Cool!
      = f.input :invitation_email,
        input_html: { autocomplete: "email" },
        label_html: { class: 'sr-only' },
        placeholder: 'Email'

  .form-actions
    = link_to 'Cancel', friendships_path, class: 'btn btn-link btn-lg text-dark'
    = f.submit 'Send request', class: 'btn btn-primary btn-lg ml-auto shadow-sm'
