%p Hello #{@comment.recipe.user.username},

%p #{@comment.user.username} commented on your recipe for #{@comment.recipe.name}!

.card{ style: 'margin:1rem 0' }= simple_format(@comment.body)

= render 'shared/mailer/button',
  button_text: 'View recipe',
  button_url: recipe_url(@comment.recipe)
