.sidenav.d-flex.flex-column.justify-content-between.text-nowrap.border-left.shadow
  %ul
    %li= link_to 'My Recipes', recipes_path
    - if user_signed_in? && current_user.friends.exists?
      %li= link_to 'All Recipes', friends_recipes_path
    %li= link_to 'Favourites', favourite_recipes_path
    %li= link_to 'New Recipe', new_recipe_path
    %li
      = link_to friendships_path do
        Friends
        - if (friend_requests = current_user && current_user.friend_requests.count) && friend_requests > 0
          .sidenav--friend-request= pluralize(friend_requests, 'friend request')

    %li= link_to 'Settings', edit_user_path

  - if user_signed_in?
    = button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary d-block mb-4 sidenav--bottom-center'

%btn.hamburger
  %div
