%html{ lang: 'en' }
  !!!
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ charset: 'utf-8' }
    %meta{ content: 'NOODP', name: 'ROBOTS' }
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport' }
    %title= app_name
    = stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
    = csp_meta_tag

  %body.d-flex.flex-column
    - unless devise_controller?
      = render 'navbar'
      = render 'sidenav'
    %main.container.flex-fill.d-flex.flex-column.flex-auto.flex-shrink-0.py-4.py-lg-5{ class: content_for(:extra_container_class) }
      = render 'flashes'
      = yield
    = yield :modals
    = yield :javascript
